body{
    background-color: black;
    color: white;
}

.homepage{
    display:flex;
    justify-content: center;
    max-width: 40%;
    margin: auto;
}

h1{
    display: flex;
    justify-content: center;
}

picture{
    width: 350px;
    height: 250px;
}
a{
    color: white;
}